<!doctype html>

<!--注意：引入thymeleaf的名称空间-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<!--<p th:text="'hello SpringBoot'">hello thymeleaf</p>-->

<table>
    <tr>
        <td>操作</td>
        <td>返回</td>
        <td>异常</td>
    </tr>

    <tr>
        <td><a th:href="@{'/web/task'}">web日志文件检测</a></td>
    </tr>
    <tr>
        <td><a th:href="@{'/ssh/task'}">ssh日志文件检测</a></td>
    </tr>
    <tr>
        <td><a th:href="@{'/ssh/change'}">代理ssh</a></td>
    </tr>
    <tr>
        <td><a th:href="@{'/sql/change'}">代理mysql</a></td>
    </tr>
    <tr>
        <!--/*@thymesVar id="result" type="ch"*/-->
        <td th:text="${result}"></td>
        <!--/*@thymesVar id="error" type="ch"*/-->
        <td th:text="${error}"></td>
    </tr>
</table>

</body>
</html>